/pequenium_api/__pycache__
/apps/newsarticle/__pycache__/*
/apps/newsarticle/migrations/*
/apps/category/__pycache__/*
/apps/category/migrations/*
/apps/readinglist/__pycache__/*
/apps/readinglist/migrations/*
/apps/readinglistitem/__pycache__/*
/apps/readinglistitem/migrations/*
/apps/userarticleinteraction/__pycache__/*
/apps/userarticleinteraction/migrations/*
/apps/newsarticletag/__pycache__/*
/apps/newsarticletag/migrations/*
/apps/newsarticlecategory/__pycache__/*
/apps/newsarticlecategory/migrations/*
